{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
<h1>Blogs</h1>
<ul>
	{% for blogItem in blogs %}
		<li><a href="/blog/{{ blogItem.id }}">{{ blogItem.title }}</a> posted by <i style="color:green">{{ blogItem.author }}</i> on <i style="color:deeppink">{{ blogItem.postedON }}</i>
			<ul>
				<li style="color:red">{{ blogItem.subTitle }}</li>
			</ul>
		</li>
	{% endfor %}
</ul>